@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
   --primary: #F76731;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

.wrapper{
    background: #DDE4EA; 
    padding: 40px;
}

.products-container {
   
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}



.card {
    position: relative;
    width: 350px;
    height: 600px;
    background: white;
    border-radius: 26px;
    border: 4px solid white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 20px;
    justify-content: space-between;
    box-shadow: 0 10px 25px rgba(0,0,0,0.02)
}

.card h2{
    font-size: 1.25rem;
}

h2.title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.image-container {
  width: 100%;
  height: 55%;
  object-fit: contain;
  background-position: top;
  background-size: 100% auto;
  transition: all 0.5s cubic-bezier(0.65, 0, 0.35, 1);
}

.image-container:hover {
   background-size: 110% auto;
}

.gradient {
   position: absolute;
   width: 100%;
   height: 55%;
background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 60%);
   z-index: 5;
  pointer-events: none;
}

.row-1 {
   margin-top: 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.title {
  font-weight: 500;
   font-size: 26px;
}

.price {
   color: var(--primary);
   font-weight: 500;
   font-size: 24px;
}

.product-options {
   position: absolute;
   width: 100%;
   margin-top: 16px;
   padding: 5px 15px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}


.row-2 {
   margin-top: 10px;
   display: flex;
   align-items: center;
   padding: 0 20px;
}



.row-3 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 18px;
}

.row-3 p {
  font-size: 14px;
  letter-spacing: 0.4px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.add-to-cart-btn {

   background: rgb(105,159,218);
   background: linear-gradient(176deg, rgba(105,159,218,1) 0%, rgba(89,127,228,1) 100%);
   border: 0;
   color: white;
   text-shadow: 0 3px 5px rgb(0 0 0 / 18%);
   font-size: 18px;
   width: 100%;
   height: 68px;
   cursor: pointer;
   border-radius: 0 0 20px 8px;
}

.add-to-cart-btn:hover {
   background: rgb(72,150,235);
background: linear-gradient(176deg, rgba(72,150,235,1) 0%, rgba(49,99,231,1) 100%);
}


h3.price-tag {
    width: auto;
    height: 38px;
    background-color: #6ab070;
    -webkit-border-radius: 3px 4px 4px 3px;
    -moz-border-radius: 3px 4px 4px 3px;
    border-radius: 3px 4px 4px 3px;
    border-left: 1px solid #6ab070;
    margin-left: 19px;
    position: relative;
    color: white;
    font-weight: 300;
    font-size: 16px;
    line-height: 38px;
    padding: 0 7px 0 7px;
    position: absolute;
}

h3.price-tag:before {
    content: "";
    position: absolute;
    display: block;
    left: -19px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-right: 19px solid #6ab070;
}

h3.price-tag:after {
    content: "";
    background-color: white;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    left: -9px;
    top: 17px;
}